.Feed .episode-title {
    background: url("../../images/plashka.png") no-repeat;
    width: 517px;
    height: 54px;
    padding-top: 42px;

    font-weight: bold;
    font-size: 24px;
    display: block;

}

.Feed .episode-title .label {
    display: block;
    color: #4d4d4d;
    width: 375px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 86px;
    background-color: #ee7003;
    text-decoration: none;
}
.Feed .episode {
    position: relative;
    min-height: 500px;
}

.Feed .episode .item-content {
    padding-left: 530px;
    padding-bottom: 20px;
    color: #4d4d4d;
}

.Feed .num {
    position: absolute;
    left: 406px;
    top: 38px;
    font-size: 48px;
    color: #4d4d4d;
    font-weight: bold;
}