@media screen and (max-width: 800px) {
    .App nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: absolute;
        top: 55px;
        right: 57px;
    }

    .App nav  li a {
        display: block;
        color: #4d4d4d;
        padding: 8px 16px;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }

    /* Change the link color on hover */
    .App nav li a:hover {
        background-color: #555;
        color: white;
    }

    .App nav a img {
        position: relative;
        top: 2px;
        left: -5px;
        width: 15px;
    }
}

@media screen and (min-width: 800px) {

    .App nav {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .App nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: table;
        width: 100%;
        padding-left: 14px;
    }

    .App nav li {
        z-index: 10;
        /* text-align: center;*/
        display: table-cell;
    }

    .App nav a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 24px;
        padding: 0 10px 0;
        padding-left: 15px;
        height: 20px;
        line-height: 20px;
        display: block;
        /* text-align: center;*/
    }

    .App nav a img {
        position: relative;
        top: 2px;
        left: -5px;
        width: 20px;
    }
}
.App .burger {
    position: absolute;
    right: 30px;
    top: 30px;
    display: none;
    width: 30px;
}


@media screen and (max-width: 800px){
    .App .burger {display: block}
}

.burger-closed {
    display: none;
}