.App .logo {
  margin-top: 32px;
  margin-left: 22px;
  margin-bottom: 40px;
  width: 402px;
  max-width: 55%;
}

.App .content {
  padding: 24px;
}

.App h1 {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 30px;
  color: #4d4d4d;
}
